<link rel='stylesheet' href='/style/dm/dm-list.css' />

<div class='rooms'>
  {{#each data}}
  <div class='room' id='{{room_name}}'>
    <div class='user' id='{{user.id}}'>
      <img class='user-profile' src='{{user.profile_image}}' />
    </div>
    <div class='msg-container'>
      <p class='user-nickname'>{{user.nickname}}</p>
      <p class='message'>{{message}}</p>
      <p class='sentAt'>{{pastTime}}</p>
    </div>
  </div>
  {{/each}}
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/dm/dm-list.js'></script>